* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  background-color: #f8f9fa;
  min-height: 100vh;
}

/* Navigation bar */
.nav {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
}
.nav a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

/* Home - Products */
.products-catalog {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.product {
  width: 30%;
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.103);
  transition: all 0.2s;
}
.product:hover {
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.17);
}

.product-top {
  display: flex;
  justify-content: center;
}
.product-top img {
  width: auto;
  height: 300px;
}

/* Form  */
.add-product-form {
  width: 50%;
  margin: 100px auto;
  padding: 80px 0;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.103);
}
.add-product-form > h1 {
  margin-bottom: 20px;
  text-align: center;
}
.add-product-form form > div {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Cart */
.cart {
  background-color: white;
  width: 50%;
  margin: 100px auto;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.103);
}

.cart > h1 {
  text-align: center;
  padding: 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.103);
}

.cart-summary {
  padding: 20px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.103);
  text-align: center;
  background-color: #e3f6ff;
}

.cart-container {
  padding: 20px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.103);
  display: flex;
  justify-content: space-between;
}
.cart-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0.3;
}
.cart-left-img {
  height: 250px;
  margin-left: 20px;
}

.cart-right {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-right > p {
  color: #4b4b4b;
  padding-top: 5px;
}

.cart-btn {
  flex: 0.1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart-btn > span {
  font-size: 30px;
  padding: 15px;
}
.cart-btn > button {
  background: none;
  border: none;
}

/* Orders page */
.orders {
  width: 80%;
  margin: 100px auto;
  padding: 80px 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.103);
}
.orders a {
  color: blueviolet;
}

/* Single order */
.single-order-summary {
  width: 60%;
  margin: 30px auto;
  padding: 30px 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.103);
}
.single-order-summary > h1 {
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.summary-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.summary-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.summary-h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 6px;
  color: grey;
}
.summary-text {
  font-size: 18px;
}
.summary-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary-total {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-text2 {
  font-size: 20px;
}

/* Admin page /admin */
.admin {
  display: flex;
  position: relative;
}
.admin-sidebar {
  background-color: black;
  flex: 0.2;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}
.admin-main {
  background-color: grey;
  flex: 0.8;
  height: 100vh;
}

@media (max-width: 1000px) {
  /* Cart */
  .cart {
    width: 80%;
  }
  .cart-container {
    flex-direction: column;
    align-items: center;
  }
  .cart-left {
    flex-direction: column;
  }
}
