* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.products-catalog {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 0.5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.product-top img {
  width: auto;
  height: 350px;
}

/* Form  */
.add-product-form form > div {
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}
